.header {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 90px;
  color: white
}

.wallet-infos-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
  width: 30%;
}

.user-container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 80px;
  text-align: right;
  width: 100%;
}

.button-add {
  background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  margin-right: 30px;
  color: white;
}

.user {
  margin-top: 10px;
  margin-right: 15px;
}

.modal-content {
  color: white;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  opacity: 0.9;
}

.btn-add-product {
  margin-right: 20px;
}

.react-icons {
  fill: white;
}

.navbar {
  background-color: transparent !important;
  color: white;
}

.btn-list-products {
  background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  color: white
}

.container-user-details p {
  margin-left: 5px
}

.form-floating>.form-select {
  padding-top: 0;
  padding-bottom: 0;
  height: 45px;
}

